#main {
	background-color: #FFFFFF;
	padding: 5px;
	margin: 10px;
	font-size: 0.8em;
	width: 1200px;
}
.maintitle {
	font-size: 1.2em;
	color: #000000;
}
.mainmenutabs {
	font-size: 1.0em;
	position: relative;
}
.mainmenutabs .selectedmenu {
	font-weight: bold;
	text-decoration-line: none;
	cursor: auto;
}

#header {
	word-wrap: break-word;
	color: black;
	padding: 0px 0px 10px 0px;
	margin: 0px 0px 10px 0px;
	border-bottom: solid #AAAAAA 1px;
}
#header p {
    margin: 2px;
}
#header .selected {
    color: orangered;
	font-weight: bold;
	text-decoration-line: none;
	cursor: auto;
}
#header .indented {
	margin-left: 0.5em;
}

select, input, textarea, button { 
    vertical-align:middle; 
    position:relative; 
}
input { 
    height: 20px; 
    line-height: 20px; 
}
button, input[type="button"] {
    overflow:visible; 
    padding:0 3px;
}
select { 
    height: 25px; 
    line-height: 25px;
}
input[type="checkbox"],
input[type="radio"] { 
    border:none; 
    top:-2px;
    top:0\9;
    margin-right:2px; 
    margin-right: 0\9; 
}

.monospace-text {
    font-family:
      'Noto Sans Mono CJK JP',            /* Noto */
      'Source Han Code JP',               /* 源ノ角 */
      'Ricty Diminished',                 /* Inconsolata, Circle M+ 1m */
      'Ricty',                            /* Inconsolata, Migu 1M */
      'Myrica M',                         /* Inconsolata, 源真ゴシック or Mgen+ */
      'MyricaM M',                        /* Inconsolata, Mgen+ */
      'Rounded M+ 1m regular',            /* M+ OUTLINE FONTS, 源ノ角ゴシック */
      'Rounded M+ 2m regular',            /* M+ OUTLINE FONTS, 源ノ角ゴシック */
      'Rounded Mgen+ 1m regular',         /* M+ OUTLINE FONTS, 源ノ角ゴシック */
      'Rounded Mgen+ 2m regular',         /* M+ OUTLINE FONTS, 源ノ角ゴシック */
      'Migu 1M',                          /* M+, IPAゴシック */
      'Migu 2M',                          /* M+, IPAゴシック */
      'M+ 1m',                            /* M+ */
      'M+ 2m',                            /* M+ */
      SFMono-Regular,                     /* SF Mono, Migu 1M (macOS10.12+) */
      Consolas,                           /* 英字 (WindowsVista+) */
  /*  Menlo,                              /* 英字 (macOS10.6+) */
  /*  Monaco,                             /* 英字 (Classic Mac OS+) */
      'Roboto Mono',                      /* 英字 (Android4+) */
  /*  'Liberation Mono',                  /* Arial or Times New Roman or Courier New */
      'Courier New',                      /* Courier (macOS10.3+?, iOS4+?, WindowsXP+?) */
  /*  Courier,                            /* 英字 (macOS10.3+?, WindowsXP+?) */
  /*  'Osaka-mono', 'Osaka-等幅',         /* 日本語 (Classic Mac OS-) [mac:monospace] */
      Meiryo, /*'メイリオ',               /* 日本語 (WindowsVista+) */
  /*  'MS Gothic', 'ＭＳ ゴシック'        /* 日本語 (Windows3.1+) [win:monospace] */
      monospace;
}

.command-input {
    border: solid #888888 1px;
    width: 800px;
    padding: 3px;
}
.command-input .input {
    width: 600px;
    margin-right: 20px;
}
.command-input .send {
    height: 25px;
    margin: 0px 3px;
    width: 100px;
}
.command-input .optional {
    height: 25px;
    margin: 0px 3px;
    width: 50px;
}

.result-view {    
    margin: 5px 0px;
    width: 1000px;
}
.result-view .line {
    margin: 0px;
    white-space: pre-wrap;
}
.result-view .line .input {
    color: #008800;
}
.result-view .line .error {
    color: #AA4400;
}
.result-view .line .warn {
    color: #888800;
}


/* 汎用 */

.indented {
	margin-left: 1.0em;
}
.right-indented {
	margin-right: 1.0em;
}
.linktext {
	text-decoration-line: underline;
	cursor: pointer;
	cursor: hand;
}
.activelinktext {
	text-decoration-line: none;
	font-weight: bold;
	cursor: auto;
}
.img-container {
    width: 350px;
    height: 350px;
    border: 1px solid darkgray;
    background-color: #D0D0D0;
}
.img-container img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

